.item {
  display: flex;
  align-items: center;

  padding-left: 16px;

  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 4px 3px 9px 0px rgba(168, 166, 168, 1);

  width: 300px;
  height: 90px;
}
.friendList {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
